* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Ubuntu Condensed", sans-serif;
  min-height: 100%;
}

.header,
.footer {
  height: 10%;
  background-color: #1e7976;
  display: flex;
  align-items: center;
}

.header {
  top: 0%;
}

.page-title {
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 900;
  color: #fffff0;
  margin-left: 1.5rem;
  font-size: 3rem;
  letter-spacing: 5px;
}

.sign-in {
  font-family: "Open Sans", sans-serif;
  color: #fffff0;
  font-size: 1.3rem;
  text-align: end;
  text-decoration-line: underline;
  margin-right: 1.5rem;
  flex: 1;
}

.email {
  font-family: "Open Sans", sans-serif;
  color: #fffff0;
  font-size: 1.3rem;
  margin-left: 1.5rem;
  text-decoration-line: none;
}

.icons {
  flex: 1;
  margin-right: 1.5rem;
}

.event-wrapper {
  padding: 1rem 25rem;
  background-color: #f6f6e9;
}

.event {
  display: flex;
  flex-direction: row nowrap;
  height: 15rem;
  padding: 2rem;
  margin-bottom: 2.5rem;
  border-radius: 2rem;
  background-color: #fffff0;
}

.event:hover {
  transform: scale(1.05);
}

.event-left {
  flex: 2;
}

.event-middle {
  flex: 1;
}

.event-right {
  flex: 1;
}

.event-title {
  font-family: "League Spartan", sans-serif;
  color: #1e7976;
  font-size: 2rem;
  font-weight: 800;
  flex: 1;
}

.event-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  flex: 1;
  transform: translateY(-0.75rem);
}

.tags {
  background-color: #f6f6e9;
  padding: 0.3rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  border-radius: 50rem;
}

.tags-input {
  flex: 1;
  transform: translateY(-0.5rem);
  align-items: center;
}

.date {
  align-self: flex-end;
}

.location {
  flex: 1;
  align-items: flex-end;
}

.date,
.address {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.see-more {
  font-size: 1rem;
  align-self: center;
  color: #000;
  cursor: pointer;
}

.search-nav {
  background-color: #f6f6e9;
  padding: 1.5rem;
}

.search-box {
  background-color: #fff;
  width: 43.2rem;
  height: 2rem;
}

.search-icon {
  background-color: #fff;
  border: none;
  margin: 0.5rem;
}

.input-box {
  background-color: #fff;
  color: grey;
  height: 2rem;
  width: 10rem;
}

.page-wrapper {
  background-color: #f6f6e9;
  padding-top: 10rem;
  padding-bottom: 1rem;
}

.yellow-header {
  background-color: #f2dd80;
  height: 10rem;
}

.event-header {
  font-family: "League Spartan", sans-serif;
  color: #1e7976;
  font-size: 4rem;
  font-weight: 800;
}

.image-container {
  height: 18rem;
  margin-right: 2rem;
  transform: translateY(-25%);
}

.text-container {
  display: grid;
  width: 25rem;
  margin: 3rem;
  row-gap: 1rem;
}

.ask-text {
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.detail-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

.about-container {
  width: 50%;
  margin: 3rem;
}

.register-box {
  background-color: #fff;
  height: 2rem;
  width: 15rem;
}

.comment-box {
  width: 20rem;
}

.register-btn {
  background-color: #1e7976;
  border-radius: 1.5rem;
  border: none;
  padding: 0.75rem;
  color: #f6f6e9;
  width: 7.5rem;
  margin-left: 1rem;
}

.back-arrow > a {
  display: flex;
  align-items: center;
  text-decoration-line: none;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin-left: 2rem;
}

.main-background {
  background-color: #f2dd80;
  height: 100%;
}

.logo-text {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 8rem;
  font-weight: 900;
  color: #f6f6e9;
  letter-spacing: 8px;
}

.heart-logo {
  animation: 3s ease 0s infinite beat;
}

@keyframes beat {
  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }
  30%,
  80% {
    transform: scale(0.92, 0.95);
  }
}

.subtitle-main {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.vlntr-btn,
.org-btn {
  border-radius: 1.5rem;
  border: 1px solid #000;
  padding: 0.3rem;
  color: #000;
  width: 11rem;
  font-size: 1.2rem;
}

.vlntr-btn {
  background-color: #ed9556;
}

.org-btn {
  background-color: #b9b1ff;
}

.page-container {
  background-color: #f6f6e9;
  padding: 5rem 15rem;
}

.event-box {
  margin-right: 30rem;
}

.hostproject-text {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #ed9556;
  margin: 4rem 0 1.2rem 0;
}

.post-box {
  background-color: #fff;
  height: 30rem;
}

.text-area {
  width: 100%;
}

.publish-input {
  width: 70%;
}

.publish-btn {
  background-color: #ed9556;
  border-radius: 1.5rem;
  border: none;
  margin-top: 1rem;
  padding: 0.75rem;
  color: #f6f6e9;
  width: 7.5rem;
}

.publish-comment {
  height: 70%;
}

.select-org {
  height: 100vh;
}
